<DBVersions>
  <Versions>
    <Version number="0.0.7" applyTo="0.0.6">
      <Scripts location="Scripts\0.0.7">
        <script name="1_TABLE_Bookings_CREATE.sql"/>
        <script name="1_usp_Bookings_GetById_CREATE.sql"/>
        <script name="1_usp_Bookings_GetByPage_CREATE.sql"/>
        <script name="1_usp_Bookings_GetTotal_CREATE.sql"/>
        <script name="1_usp_Clients_GetAll_CREATE.sql"/>
        <script name="2_usp_Bookings_Create_CREATE.sql"/>
        <script name="2_usp_Bookings_Delete_CREATE.sql"/>
        <script name="2_usp_Bookings_GetByOverlappingDateRange_CREATE.sql"/>
        <script name="2_usp_Bookings_Update_CREATE.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.6" applyTo="0.0.5">
      <Scripts location="Scripts\0.0.6">
        <script name="1_TABLE_Clients_CREATE.sql"/>
        <script name="1_usp_Clients_GetById_CREATE.sql"/>
        <script name="1_usp_Clients_GetByPage_CREATE.sql"/>
        <script name="1_usp_Clients_GetTotal_CREATE.sql"/>
        <script name="2_usp_Clients_Create_CREATE.sql"/>
        <script name="2_usp_Clients_Delete_CREATE.sql"/>
        <script name="2_usp_Clients_GetByPassport_CREATE.sql"/>
        <script name="2_usp_Clients_Update_CREATE.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.5" applyTo="0.0.4">
      <Scripts location="Scripts\0.0.5">
        <script name="0_TABLE_RoomTypes_CREATE.sql"/>
        <script name="1_TABLE_Rooms_CREATE.sql"/>
        <script name="1_TABLE_RoomTypes_SEED.sql"/>
        <script name="1_usp_Rooms_GetById_CREATE.sql"/>
        <script name="1_usp_Rooms_GetByPage_CREATE.sql"/>
        <script name="1_usp_Rooms_GetTotal_CREATE.sql"/>
        <script name="2_usp_Rooms_Create_CREATE.sql"/>
        <script name="2_usp_Rooms_Delete_CREATE.sql"/>
        <script name="2_usp_Rooms_Update_CREATE.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.4" applyTo="0.0.3">
      <Scripts location="Scripts\0.0.4">
        <script name="0_TABLE_MedicalProcedures_CREATE.sql"/>
        <script name="1_usp_MedicalProcedures_GetById_CREATE.sql"/>
        <script name="1_usp_MedicalProcedures_GetByPage_CREATE.sql"/>
        <script name="1_usp_MedicalProcedures_GetTotal_CREATE.sql"/>
        <script name="2_usp_MedicalProcedures_Create_CREATE.sql"/>
        <script name="2_usp_MedicalProcedures_Delete_CREATE.sql"/>
        <script name="2_usp_MedicalProcedures_Update_CREATE.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.3" applyTo="0.0.2">
      <Scripts location="Scripts\0.0.3">
        <script name="1_TABLE_Users_ALTER.sql"/>
        <script name="2_usp_Users_Create_ALTER.sql"/>
        <script name="2_usp_Users_Update_ALTER.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.2" applyTo="0.0.1">
      <Scripts location="Scripts\0.0.2">
        <script name="1_usp_Users_GetById_CREATE.sql"/>
        <script name="1_usp_Users_GetByPage_CREATE.sql"/>
        <script name="1_usp_Users_GetTotal_CREATE.sql"/>
        <script name="2_TABLE_Roles_SEED.sql"/>
        <script name="2_usp_Users_Delete_CREATE.sql"/>
        <script name="2_usp_Users_Update_CREATE.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.1" applyTo="0.0.0">
      <Scripts location="Scripts\0.0.1">
        <script name="1_TABLE_Roles_CREATE.sql"/>
        <script name="2_TABLE_RefreshTokens_CREATE.sql"/>
        <script name="2_TABLE_Roles_SEED.sql"/>
        <script name="2_TABLE_Users_CREATE.sql"/>
        <script name="3_usp_RefreshTokens_Create_CREATE.sql"/>
        <script name="3_usp_RefreshTokens_Delete_CREATE.sql"/>
        <script name="3_usp_RefreshTokens_GetByTokenValue_CREATE.sql"/>
        <script name="3_usp_Users_Create_CREATE.sql"/>
        <script name="3_usp_Users_GetByEmail_CREATE.sql"/>
      </Scripts>
    </Version>
  </Versions>
  <RootVersion number="0.0.0">
    <Scripts location="Scripts\_init">
      <script name="Init.sql"/>
    </Scripts>
  </RootVersion>
  <CreateDB number="init">
    <Scripts location="Scripts\_init">
      <script name="CreateDB.sql"/>
    </Scripts>
  </CreateDB>
</DBVersions>
