<DBVersions>
  <Versions>
    <Version number="0.0.3" applyTo="0.0.2">
      <Scripts location="Scripts\0.0.3">
        <script name="1_TABLE_Users_ALTER.sql"/>
        <script name="2_usp_Users_Create_ALTER.sql"/>
        <script name="2_usp_Users_Update_ALTER.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.2" applyTo="0.0.1">
      <Scripts location="Scripts\0.0.2">
        <script name="1_usp_Users_GetById_CREATE.sql"/>
        <script name="1_usp_Users_GetByPage_CREATE.sql"/>
        <script name="1_usp_Users_GetTotal_CREATE.sql"/>
        <script name="2_TABLE_Roles_SEED.sql"/>
        <script name="2_usp_Users_Delete_CREATE.sql"/>
        <script name="2_usp_Users_Update_CREATE.sql"/>
      </Scripts>
    </Version>
    <Version number="0.0.1" applyTo="0.0.0">
      <Scripts location="Scripts\0.0.1">
        <script name="1_TABLE_Roles_CREATE.sql"/>
        <script name="2_TABLE_RefreshTokens_CREATE.sql"/>
        <script name="2_TABLE_Roles_SEED.sql"/>
        <script name="2_TABLE_Users_CREATE.sql"/>
        <script name="3_usp_RefreshTokens_Create_CREATE.sql"/>
        <script name="3_usp_RefreshTokens_Delete_CREATE.sql"/>
        <script name="3_usp_RefreshTokens_GetByTokenValue_CREATE.sql"/>
        <script name="3_usp_Users_Create_CREATE.sql"/>
        <script name="3_usp_Users_GetByEmail_CREATE.sql"/>
      </Scripts>
    </Version>
  </Versions>
  <RootVersion number="0.0.0">
    <Scripts location="Scripts\_init">
      <script name="Init.sql"/>
    </Scripts>
  </RootVersion>
  <CreateDB number="init">
    <Scripts location="Scripts\_init">
      <script name="CreateDB.sql"/>
    </Scripts>
  </CreateDB>
</DBVersions>
