<header ng-transclude="header" style="border-bottom: 1px solid #ccc;">
    <div class="grid-labels-container">
        <div ng-repeat="column in fields"
             class="grid-cell"
             ng-style="{ 'width': (column.width || defaultCellWidth) }">
            <i ng-class="getFieldLabelClasses(column)"></i>
            <strong ng-click="orderBy(column)"
                    role="button"
                    i18n="{{ column.label }}">
            </strong>
        </div>
    </div>
</header>
<div ng-transclude="body">
    <div ng-repeat="model in rows track by model.id"
         ng-click="itemClick(model)"
         class="grid-row">
        <div ng-repeat="column in fields"
             class="grid-cell"
             ng-style="{ 'width': (column.width || defaultCellWidth) }">
            <span>
                {{ model[column.name] }}
            </span>
        </div>
    </div>
</div>