<!DOCTYPE html>

@model OnePortal.ExternalServices.Email.UseCases.RegisterUser.RegisterUserMessageModel

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <section id="mail-container">
        <header>
            <p>
                Welcome @Model.FirstName.<br/>
                You are registered in Accredited Vendors system.<br/>
            </p>
        </header>
    </section>
</body>
</html>