<div class="page-header-inner container">
    <div class="page-logo">
        <div ng-click="toggleSidebar()">
            <a href="javascript:;"
               class="menu-toggler responsive-toggler"
               data-toggle="collapse"
               data-target=".navbar-collapse"></a>
        </div>
    </div>

    <div class="page-top">
        <div class="page-actions">
            <span class="top-logo">{{ 'app.pinguinPortal' | i18n }}</span>
        </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="header-language-selector"
                    ix-header-language-selector>
                </li>
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle app-header-user-info-container text-left"
                       dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <div class="app-header-company-logo">
                            <img class="img-circle img-logo" ng-src="{{currentCompanyLogo}}" />
                        </div>
                        <div class="username-companyname-container">
                            <p class="username username-hide-on-mobile"> {{ getFirstName() }} </p>
                            <p class="user-company-name text-muted">{{currentCompanyName}}</p>
                        </div>
                        <div>
                            <i class="fa fa-angle-down"></i> 
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a ng-href="{{goToProfile}}">
                                <i class="icon-user"></i> {{ 'app.profile' | i18n }}
                            </a>
                        </li>
                        <li>
                            <a ng-click="logout()">
                                <i class="icon-key"></i> {{ 'app.logout' | i18n }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
