<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="DBVersions" type="DBVersionControl.CustomSection.DBVersionsSection, DBVersionControl"/>
  </configSections>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="
         Data Source=.;
         Initial Catalog=SanatoriumAppDb;
         Integrated Security=True;
         Connect Timeout=15;
         Encrypt=False;
         TrustServerCertificate=True;
         ApplicationIntent=ReadWrite;
         MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <DBVersions configSource="Scripts\Versions.config"/>
  
</configuration>