<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8 col-sm-6 col-xs-12">
        <h2 i18n="{{ options.labels.title }}"></h2>
        <ix-breadcrumb nodes="options.breadcrumb">
        </ix-breadcrumb>
    </div>
    <div class="col-lg-4  col-sm-6 col-xs-12">
        <div class="row">
            <ix-header-button class="col-sm-6 col-xs-12 title-action"
                              config="options.buttons.confirm">
            </ix-header-button>
            <ix-header-button class="col-sm-6 col-xs-12 title-action"
                              config="options.buttons.cancel">
            </ix-header-button>
        </div>
    </div>
</div>
