<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8 col-sm-6 col-xs-12">
        <h2 i18n="{{ options.labels.title }}"></h2>
    </div>
    <div class="col-lg-4  col-sm-6 col-xs-12">
        <div class="row">
            <ix-header-button class="col-sm-6 col-xs-12 title-action pull-right"
                              config="options.view.buttons.cancel">
            </ix-header-button>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <ng-form role="form"
             name="model.form"
             novalidate>
        <div class="row">
            <div class="col-lg-6 ibox float-e-margins">
                <div class="ibox-content">
                    <section class="row"
                             ng-repeat="field in options.fields">
                        <ix-edit-control class="col-sm-6 col-xs-12 "
                                         ng-model="model.entity"
                                         form="model.form"
                                         config="field"></ix-edit-control>
                    </section>

                    <section class="row" ng-show="fileUploadUrl">
                        <div ix-attrs="{{ dropzoneAttrs }}"
                             url="fileUploadUrl">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </ng-form>
</div>
